body {
}
.divTabla{
    width:100%;
}
#centrar {
    text-align: center;
}

table {
    width:100%;
    padding:10px;
    
}


.btnSS {
    color: white;
    background-color:green;
    padding: 15px;
    border:none;
    border-radius:5px;

}
.btnEE {
    color: white;
    background-color: red;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.tblCategoria {
    width: 100%;
    border-collapse:collapse;
   
    
    
    
}
.tblCategoria td{
    padding:10px;
    border:1px solid;
}
.colNom{
    width:150px;
}
.colDesc {
    width: 250px;
}
.colAccion {
    
}




#inputSS {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
#textAreaSS {
    width: 100%;
    height: 55px;
    border-radius: 5px;
}
#bgGris{
    background-color:lightgray;
}

